@font-face {
    font-family: 'HamshiModern';
    src: url('../fonts/HamshiModern.ttf') format('truetype');
}

.hamshi {
    font-family: 'HamshiModern', sans-serif;
    font-size: 36px;
}

@font-face {
    font-family: 'Temric';
    src: url('../fonts/Temric.ttf') format('truetype');
}

.temric {
    font-family: 'Temric', sans-serif;
}