/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

/* Ensure the body takes full height and has a scrollbar */
body {
  min-height: 100vh;
  overflow-y: scroll; /* Always show vertical scrollbar */
  display: flex;
  text-align: center;
  justify-content: center;
  background-image: url('../resources/backgrounds/paper.png'); /* Dark background for left and right */
  background-size: 12.5%;
  padding-right: 17px; /* Account for scrollbar width */
}

.outer-container {
  display: flex;
  width: 100%;
  max-width: 1200px;
  background-color: rgb(234, 218, 206);
  flex-direction: column;
  padding-top: 1em;
  padding-bottom: 1em;
  justify-content: flex-start;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Side areas on left and right */
.side {
  flex: 1;
  width: auto;
}

/* The container inside will have the main content styling */
.article-container {
  flex: 3;
  background-color: rgb(234, 218, 206); /* Background of the article container */
  padding: 20px; /* Optional padding for the content */
  margin: 0 auto;
  border-radius: 10px;
  width: 100%;
}

/* Article padding */
.article {
  padding: 30px 100px 30px 100px;
}

/* Styling for the grid container */
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 10px;
}

.grid-item {
  border: 1px solid #000;
  background-color: antiquewhite;
  padding: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.324);
}
