<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../../resources/tab_icon.png" type="image/x-icon">

    <title>Article Title Here</title>

    <link rel="stylesheet" href="../../css/general.css">
    <link rel="stylesheet" href="../../css/article.css">

	<script src="../../scripts/setup_article.js"></script>
</head>

<body>
    <div class="outer-container">
        <div class="sidebar-container"><div class="sidebar-subcontainer"></div></div>
        <div class="article-container">

            <div class="article-introduction">
                <div class="article-summary">
                    <h1 class="article-title"></h1>
                    <p>Article summary here.</p>
                </div>

                <div class="info-box-container"></div>
            </div>

            <div class="article-body">
                <h2 id="section1">Section 1</h2>
                    <p>This is the first section of the article. You can add more content here.</p>
                <h3 id="subsection1.1">Subsection 1.1</h3>
                    <p>This is a subsection within Section 1.</p>
            </div>
        </div>
    </div>
</body>

</html>